<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="../assets/main.css">
  <title>前端晚练课</title>
  <style>
      .section-body > li {height: 180px;}

      .hexagon {
        width: 180px;
        height: 100%;
      }

      .user-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: .875rem;
      }

      .user-info > img {
        display: block;
        width: 42px;
        margin: 0 auto 6px;
        border-radius: 50%;
      }
    </style>
</head>
<body>
  <div id="app" v-cloak>
    <header>
      <svg class="icon" aria-hidden="true" style="width:116px; height:116px">
        <use xlink:href="#icon-certificate"></use>
      </svg>
      <h1 class="app-name">
        <img src="../assets/images/title_hall-of-fame.png" draggable="false" :alt="title">
      </h1>
    </header>

    <section class="section" v-for="(session, idx) in sessions">
      <div class="section-head">
        <h2 class="section-title">
          <span>
            第 {{ idx + 1 }} 届<small>（{{ getStageRange(idx).join('-') }}期）</small>
          </span>
        </h2>
      </div>
      <ul class="section-body">
        <li v-for="n in 3" :class="{weak: !session.winners[n - 1]}">
          <svg class="hexagon" aria-hidden="true">
            <use :xlink:href="'#icon-' + medalName[n - 1]"></use>
          </svg>
          <template v-if="session.winners[n - 1]">
            <a class="user-info" target="_blank" rel="noopener noreferrer"
              :href="getGitHubPage(session.winners[n - 1])"
            >
              <img :src="getAvatar(session.winners[n - 1])">
              <span>{{ session.winners[n - 1] }}</span>
            </a>
          </template>
          <template v-else>
            <span class="user-info">虚位以待</span>
          </template>
        </li>
      </ul>
    </section>
  </div>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
  <script src="//at.alicdn.com/t/font_1171464_4vo2bprjxsk.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="../assets/js/multi-sort.js"></script>
  <script src="../assets/js/get-url-param.js"></script>

  <script>
    var ONE_SESSION = 100;  // 一届为100期 (1 session = 100 stage)

    new Vue({
      el: '#app',
      data: {
        title: '名人堂',
        medalName: ['silver', 'gold', 'bronze'],
        sessions: []
      },
      created: function() {
        document.title = this.title + ' - ' + document.title;
        this.reqData();
      },
      methods: {
        // 拉取数据
        reqData: function() {
          var that = this;

          return axios.get('hall-of-fame.json?' + (+new Date()))
            .then(function(res) { return res.data })
            .then(function(data) {
              data.sort(multiSort(['session']));  // 根据届数升序排列
              that.sessions = data;
            });
        },

        // 获取用户的 github 头像
        getAvatar: function(username) {
          return 'https://avatars.githubusercontent.com/' + username + '?s=52&v=4';
        },

        // 获取用户的 github 主页地址
        getGitHubPage: function(username) {
          return 'https://github.com/' + username;
        },

        // 获取期数范围
        getStageRange: function(n) {
          var start = n * ONE_SESSION + 1;
          var end = start + ONE_SESSION;

          return [start, end];
        }
      }
    });
  </script>
</body>
</html>
